
ul{
    margin-left: 50px;
    
}
.nav-link{
  text-decoration: none;  
  list-style: none;
  color: black;
}
.nav-item{
    font-size: 30px;
    margin-left: 10px;
}
button{
    margin-right: 20px;
    margin-left: 10px;

}
li{
    list-style: none;
}


